@keyframes moving-img {
  0% {
    left: 0;
  }
  50% {
    left: -99999px;
  }
  100% {
    left: 0;
  }
}

.layer {
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./assets/paralax.png") repeat-x;
  animation: moving-img 20000s linear infinite;
  background-size: auto 100%;
  filter: brightness(0.5);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  height: 60% !important;
  width: 800px !important;
}
